<div class="well">
  <h4>{{answer.author}}</h4>
  <h5>Rating: {{answer.rating}}</h5>
  <p>{{answer.content}}</p>
  <h5>{{answer.date}}</h5>
  <h5>Votes: {{answer.votes}}</h5>
  <button class="btn btn-info" {{action 'upVote' answer}}>Vote Up</button>
  <!-- <button class="btn btn-danger" {{action 'downVote' answer}}>Vote Down</button> -->

</div>
