<div class="well">
  <h4><span class="emphasis"><em>{{answer.author}}</em></span> rated this question: <span class="emphasis">{{answer.rating}}</span>{{troll-answer answer}}</h4>
  <p>{{answer.content}}</p>
  <br>
  <h5>{{answer.date}}</h5>
  <h5>Votes: {{answer.votes}}</h5>

  <button type="button" class="btn btn-large vote-button" id="upvote-button" {{action 'upVote' answer}}>
  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">UpVote</span>
  </button>
  <button type="button" class="btn btn-large vote-button" id="downvote-button" {{action 'downVote' answer}}>
  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true">DownVote</span>
  </button>

</div>
