{{#if addNewAnswer}}
<h2>New Answer</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        {{input type="number" min="1" max="5" value=rating id="rating"}}
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        {{input value=content id="content"}}
      </div>
      <button class="btn btn-info" {{action 'saveAnswer'}}>Save</button>
      <button class="btn btn-primary" {{action 'answerFormHide'}}>Hide</button>
    </form>
  </div>
{{else}}
  <button class="btn vote-button new-button"{{action 'answerFormShow'}}><span class="glyphicon glyphicon-plus" aria-hidden="true">AnswerMe</span></button>
{{/if}}
