<br>
<button id="trash-button" class="btn vote-button pull-left" {{action 'delete' question}}><span class="glyphicon glyphicon-trash" aria-hidden="true">Delete</span></button>
<br><br>
<button id="fave-button" class="btn vote-button pull-left" {{action 'faveThisQuestion' question}}><span class="glyphicon glyphicon-star" aria-hidden="true">Favorite</span></button>

<div class="question-answers" id="question-body">
  <h3 class="center-text">{{question.author}} asked:</h3>
  <h2 class="center-text"><em>"{{question.content}}"</em></h2>
  <p>{{question.notes}}</p>

  <h5 id="question-date" >{{question.date}}</h5>

</div>
<hr>

<h2 id="answer-head">Answers</h2>
<div class="question-answers">
  <ul>
    {{#each sortedAnswers as |answer|}}
      {{answer-tile answer=answer upVote='upVote' downVote="downVote"}}
    {{/each}}
  </ul>
</div>
