{{#if updateQuestionForm}}
  <h2>Update {{question.author}}'s question</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="content">Question</label>
        {{textarea value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        {{textarea value=notes id="notes"}}
      </div>

      <button class="btn btn-info" {{action 'update' question}}>Save</button>
      <button class="btn btn-primary" {{action 'updateQuestionFormHide' question}}>Hide</button>
    </form>
  </div>
{{else}}
  <button id="update-button" class="btn vote-button" {{action 'updateQuestionForm'}}><span class="glyphicon glyphicon-pencil" aria-hidden="true">Update</span></button>
{{/if}}
